<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tube.chikichiki.sako"
    android:versionName="2.5"
    android:versionCode="25"
    >

    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:banner="@drawable/banner"
        >
        <activity
            android:name="tube.chikichiki.sako.activity.FullScreenVideoActivity"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:exported="false"
            android:theme="@style/Theme.ChikiChiki"
            android:screenOrientation="sensorLandscape"
            />
        <activity
            android:name="tube.chikichiki.sako.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tv.activity.TvActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".tv.activity.TVVideoPlayerActivity"
            android:theme="@style/Theme.Leanback"
            />

        <activity android:name=".tv.activity.TVPlaylistVideosActivity"
            android:theme="@style/Theme.Leanback"

            />

        <activity android:name=".tv.activity.TvSearchActivity"
            android:theme="@style/Theme.Leanback"

            />



    </application>

</manifest>